@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #030E13;
    --maincolor: 9, 255, 222;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #030E13;
        --foreground: #ededed;
        --maincolor: 9, 255, 222;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

.main {

    span {
        text-shadow: 2px 4px 4px rgba(var(--maincolor), 0.65);
    }

    .top {
        width: 100vw;
        height: 100px;
        padding: 0 40px 0 20px;
        background: linear-gradient(180deg, rgba(217, 217, 217, 0.1), rgba(115, 115, 115, 0));


        h1 {
            font-size: 65;
            font-family: "Nova Square", serif;
            text-shadow: 2px 4px 4px rgba(var(--maincolor), 0.65);
        }
    }

}

input[type="range"] {
    background-color: rgba(var(--maincolor), 0.65);
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    background-color: rgb(var(--maincolor));
    /* 青色 */
    border-radius: 90%;
    /* 圆形 */
    width: 20px;
    /* 滑块大小 */
    height: 20px;
    /* 白色边框 */
    box-shadow: 0 0 10px rgba(6, 182, 212, 0.8);
    /* 青色辉光效果 */
    cursor: pointer;
}