@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Nova+Square&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #030E13;
    --toastify-color-success: #121212;
    --toastify-text-color-success: #09ffde;
    --maincolor: 9, 255, 222;
    --maincolorrgb: #09ffde;
    --contexify-menu-bgColor: rgba(40, 40, 40, .98);
    --contexify-separator-color: #4c4c4c;
    --contexify-item-color: #fff;
    --contexify-activeItem-color: #fff;
    --contexify-activeItem-bgColor: #3498db;
    --contexify-rightSlot-color: #6f6e77;
    --contexify-activeRightSlot-color: #fff;
    --contexify-arrow-color: #6f6e77;
    --contexify-activeArrow-color: #fff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #030E13;
        --foreground: #ededed;
        --maincolor: 9, 255, 222;
        --maincolorrgb: #09ffde;
        --contexify-menu-bgColor: rgba(40, 40, 40, .98);
        --contexify-separator-color: #4c4c4c;
        --contexify-item-color: #fff;
        --contexify-activeItem-color: #fff;
        --contexify-activeItem-bgColor: #3498db;
        --contexify-rightSlot-color: #6f6e77;
        --contexify-activeRightSlot-color: #fff;
        --contexify-arrow-color: #6f6e77;
        --contexify-activeArrow-color: #fff;
    }
}

@layer utilities {
    .slow-spin {
        animation: spin 5s linear infinite;
        /* 3s 一圈 */
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}



.main {

    span {
        text-shadow: 2px 4px 4px rgba(var(--maincolor), 0.65);
    }



    .top {
        width: 100vw;
        height: 100px;
        padding: 0 40px 0 20px;
        background: linear-gradient(180deg, rgba(217, 217, 217, 0.1), rgba(115, 115, 115, 0));

        h1 {
            font-size: 65px;
            font-family: "Nova Square", serif;
            text-shadow: 2px 4px 4px rgba(var(--maincolor), 0.65);
        }
    }

}

input[type="range"] {
    background-color: rgba(var(--maincolor), 0.65);
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    background-color: rgb(var(--maincolor));
    /* 青色 */
    border-radius: 90%;
    /* 圆形 */
    width: 20px;
    /* 滑块大小 */
    height: 20px;
    /* 白色边框 */
    transition: 0.3s;
    cursor: pointer;

}

input[type="range"]::-webkit-slider-thumb:hover {
    box-shadow: 0 0 15px rgba(var(--maincolor), 1);
    box-shadow: 0 0 20px rgba(var(--maincolor), 0.6);
    box-shadow: 0 0 25px rgba(var(--maincolor), 0.3);
    /* 青色辉光效果 */
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes pause-animation {

    0%,
    100% {
        animation-play-state: running;
    }

    50% {
        animation-play-state: paused;
    }
}

.animate-marquee {
    animation: marquee 10s linear infinite;
    animation-fill-mode: none;
}

.loginbtn {
    color: rgb(var(--maincolor));
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit;
    z-index: -1;
    /* 让 canvas 继承 div 的圆角 */
}

.tilted-card-demo-text {
    text-transform: capitalize;
    color: rgb(255, 255, 255);
    letter-spacing: -0.5px;
    font-family: "DM Sans";
    font-weight: 900;
    box-shadow: rgba(6, 6, 6, 0.4) 0px 5px 30px;
    padding: 0.5rem 1em;
}

.form-title {
    color:rgba(255, 255, 255, 0.8);
}